= form_for @post, url: {action: "create"} do |f| 
  = f.file_field :avatars, multiple: true
  = f.text_area :content, :size => "50x20", :class=>"form-control"
  = submit_tag '发布', :class=>"btn btn-success", "disable_with" => "正在提交..."